body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #b6d3fe;
}

.cabecalho, .divCabecalho{
  width: 100%;
  height: 40px; 
}

.divCabecalho{
  background-color: #0D6EFD;
  position: fixed;
}

.conteudo{
  background-color: #b6d3fe;
  position: relative;
  width: 100%;
  height: 500px;
  
}

.container1{
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 300px;
  border-radius: 25px;
  
}


#from_ammount, #to_ammount{
  width: 90px;
  display: inline-block;
  
  
}

#from_currency, #to_currency{
  margin: 3px;
 
}

#swap{
  float: right;
  margin-top: 20px;

}

.page-title {
  color: #0D6EFD;
  margin: 0 0 5px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

label {
  color: black;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

#tax_info{
  display: none;
}

.page-logo {
  width: 280px;
  display: block;
  margin: auto;
  padding: 15px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

footer div {
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #0D6EFD;
  color:white;
  display: block;
  padding: 15px;
  
}
.footer-content img{
  border-radius: 16px;
  padding-top: 3px;
}

.footer-content{
  text-align: center;
  padding-bottom: 5px ;
}

@media only screen and (min-width: 1200px) {
  
    .conteudo{
      background-color: #b6d3fe;
      position: relative;
      width: 100%;
      height: 627px;
      
    
  }
}